extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block content
  .l-contents.js-contents
    .p-introduction
      .p-introduction__wrap
        .p-introduction__row.js-transition-intro
          |Emerging Techniques in Cyber Security for Building Resilient Network Infrastructure
        .p-introduction__row.js-transition-intro
          |by 
          +textLink("https://www.iiits.ac.in/", "IIIT Sri City", "_blank")
        .p-introduction__links
          a(href="https://github.com/abhijit-23blaze", target="_blank").p-introduction__link.js-transition-intro
            +iconGitHub(24)
          a(href="https://twitter.com", target="_blank").p-introduction__link.js-transition-intro
            //- +iconTwitter(24)
          a(href="mailto:abhijiiitpatil@mail.com").p-introduction__link.js-transition-intro
            +iconMail(24)
        .p-introduction__follow.js-transition-intro
          .p-introduction__follow-in.p-introduction__follow-in--1
          .p-introduction__follow-in.p-introduction__follow-in--2
          .p-introduction__follow-in.p-introduction__follow-in--3

    

  .p-dummy-scroll.js-dummy-scroll

  canvas(id="canvas-webgl", class="p-canvas-webgl")
